body {
    font-family: Arial, sans-serif;
    background-color: #FFFAFA;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .page {
    width: 100%;
    min-height: 100%;
    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* heading "main page" */
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  
  /* header registration, login */
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* greeting */
  .js-welcome {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* news creation title */
  .title-news {
    font-family: Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
  }
  
 /* news creation container */
  .create-news-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 25px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  /*button to return to the main page */
  .return-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
  }
  
  .return-button:hover {
    background-color: #C0C0C0;
    color: black;
  }
  
  /*news container on the main page */
  .news-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
  }

  
  /* the text of the news on the main page */
  .text-news-home {
    color: #666;
  }
  
  /* who is the author of the news on the main page*/
  .author-home {
    color: #999;
  }
  
  /* no news message on the main page */
  .no-news-home {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* a message that there are no comments on the news page */
  .no-comment {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* the title of the edit comment/news on the edit comment/news page */
  .edit_comment_news {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  /* text field on the edit comment/news page */
  .text_edit_comment_news {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
  }

  /* button to save changes on the comment/news editing page */
  .button_edit_comment_news {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
  }
  
  .button_edit_comment_news:hover {
    background-color: #C0C0C0;
    color: black;
  }