.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    border: none;
    
    padding: 15px 25px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
  
    transition: .3s;
  }
  
  .btn img {
    max-width: 20px;
    max-height: 20px;
  }
  
  .btn span:first-child {
    margin-right: 10px;
  }
  
  .btn span:last-child {
    margin-left: 10px;
  }
  
  .btn:hover {
    opacity: .5;
  }
  
  .btn-primary {
    background-color: #4966CD;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #1C3899;
  }
  
  .btn-primary:focus,
  .btn-primary:ative {
    background-color: #1C3899;
  }
  
  .btn-link {
    background: transparent;
    color: #202123;
    text-decoration: none;
    padding: 5px;
    margin: 0 -5px;
  }
  
  .btn-link:hover {
    color: #E7B262;
  }
  
  .btn-stroke {
    border: 1px solid;
    background: transparent !important;
  }
  
  .btn-sm {
    padding: 10px 15px;
  }
  
  .btn-stroke.btn-primary {
    border-color: #4966CD;
    color: #4966CD;
  }
  
  .btn-stroke.btn-secondary {
    border-color: #F7AB3A;
    color: #F7AB3A;
  }
  