.form-wrapper {
    padding: 20px;
    box-shadow: 0 0 20px #ccc;
    border-radius: 5px;
  }
  
  .form-item {
    margin-bottom: 20px;
  }
  
  .form-item__label {
    display: block;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .form-item__field {
    width: 100%;
  }
  
  .form-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -5px -10px;
  }
  
  .form-footer > * {
    margin: 5px 10px;
  }
  
  textarea {
    width: 100%;  
    max-width: 100%;
    min-height: 50px;
  }