body {
    font-family: Arial, sans-serif;
    background: url('../../img/background.jpg') center no-repeat;
    background-size: cover;
    
    color: #202123;
    
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .wrapper--lg {
    max-width: 700px;
  }
  
  
  .title-md {
    font-size: 26px;
  }